* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;

    --color-bc-blue: #065d7a;
    --color-input: rgba(255, 255, 255, 0.2);
    --color-text-white: #FFF;
    --color-text-title: #202024;
    --color-p: #121214;
    --color-checkbox: #065E7C;
    --color-checkbox-checked: #000000;
    --color-bc-footer: #387E96;

}

body,
input {
    font-family: 'Mulish', sans-serif;
    font-size: 1.6rem;

}

h1, h2{
    color: var(--color-text-title);
}

p, .input-wrapper input {
    color: var(--color-p);
    line-height: 1.6rem;
}

#app{
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'article'
    'footer';
}
.container {
    padding: 1.6rem 3.2rem;
    width: min(100vw, 100%);
    margin: 0 auto;
}
/* #app > *{
    border: 1px solid red;
} */
#app > header{
    background-color: var(--color-bc-blue);
    
    grid-area: header;

    display: flex;
    gap: 2.5rem;
}
header form {
    flex: 1;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper label {
    width: 1px;
    height: 1px;

    position: absolute;

    overflow: hidden;
}

.input-wrapper input {
    width: 100%;
    padding: 1.2rem 1.5rem;

    border: none;
    border-radius: 4px;

    background-color: var(--color-input);

    font-weight: 600;
    color: var(--color-text-white);
}

.input-wrapper input::placeholder {
    text-align: center;

    color: var(--color-text-white);

}

.input-wrapper input:focus {
    outline: 1px solid var(--color-text-white);
}
header .avatar{
    width: 42px;
    height: 42px;

    border-radius: 50%;
}