* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;

    --color-bc-blue: #065d7a;
    --color-input: rgba(255, 255, 255, 0.2);
    --color-text-white: #FFF;
    --color-text-title: #202024;
    --color-p: #121214;
    --color-checkbox: #065E7C;
    --color-checkbox-checked: #000000;
    --color-bc-footer: #387E96;

}

body,
input {
    font-family: 'Mulish', sans-serif;

}

h1, h2{
    color: var(--color-text-title);
}

p, .input-wrapper input {
    color: var(--color-p);
    font-size: 1.6rem;
    line-height: 1.6rem;
}

#app {
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'article'
    'footer';
    width: 100vw;
}

header {
    grid-area: header;

    padding: 1.2rem 2.8rem;

    background-color: var(--color-bc-blue);

    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
}

header .logo {
    width: 4.0rem;
    height: 4.0rem;
}

header form {
    flex: 1;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper label {
    width: 1px;
    height: 1px;

    position: absolute;

    overflow: hidden;
}

.input-wrapper input {
    padding: 1.2rem 1.5rem;

    border: none;
    border-radius: 4px;

    background-color: var(--color-input);

    font-weight: 600;
    color: var(--color-text-white);
}

.input-wrapper input::placeholder {
    text-align: center;

    color: var(--color-text-white);

}

.input-wrapper input:focus {
    outline: 1px solid var(--color-text-white);
}

header .avatar {
    width: 42px;
    height: 42px;

    border-radius: 50%;
}

main .capa {
    width: 100%;
}

main section{
    box-sizing: content-box;
    padding: 3.3rem 2.5rem 0;
}

main section h1 {

    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.84rem;

}

main section form {
    display: flex;
    gap: 1.2rem;
    margin-bottom: 3.1rem;
}

.input-checkbox {
    display: flex;

    position: relative;
}

.input-checkbox input {
    width: 3.6rem;
    height: 3.6rem;

    position: absolute;

    opacity: 0;
}

.input-checkbox img {
    background-color: var(--color-checkbox);

    padding: 1.2rem;

    border-radius: 50%;
    width: 1.6rem;
    height: 1.6rem;

    transition: background-color .6s ease-in-out;
}

.input-checkbox input:checked+img {

    background-color: var(--color-checkbox-checked);
}

.input-checkbox input:focus+img {
    outline: .3rem solid var(--color-checkbox-checked);
}

main section p {
    font-weight: 400;
    line-height: 2.56rem;
}

article {
    display: grid;
    gap: 3.2rem;
}

.card a {
    text-decoration: none;
    color: var();

    display: grid;
    grid-template:
        'img h1'
        'img p';
    grid-template-columns: max-content 1fr;
}

.card a>img {
    
    grid-area: img;
    place-self: center;
    margin-right: 1.6rem;
}

.card a>h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 2.88rem;

}

.card a>p {
    font-size: 14px;
    font-weight: 400;
    line-height: 2.24rem;
}
footer{
    margin-top: 3.9rem;
}
footer p {
    background-color: var(--color-bc-footer);

    padding: 2.2rem;

    font-weight: 600;
    color: var(--color-text-white);

    text-align: center;
}
/* animações */
header{
    --inicio:-100%;
    animation: apper-header 1s; 
}
footer{
    --inicio:100%;
    animation: apper-header 1s; 
}
@keyframes apper-header{
    from{
        transform: translateY(var(--inicio));
    }
}
.capa, h1, .input-checkbox, p, a{
    --time: .2s;
    animation-name: apper-page;
    animation-duration: .5s;
    animation-delay: var(--time);
    animation-fill-mode: backwards;
}
@keyframes apper-page{
    0%{
        opacity: 0;
        transform: scale(0.7);
    }
    50%{
        transform: scale(1.2);
    }
}

/* @media (min-width:768px){
    header{
        padding: 1.2rem 11.2rem;
    }
    main section{
        padding: 0;
    }
    main{
        padding: 4.4rem 10.9rem 3.9rem;
        display: grid;
        grid-template-areas: 
        'A C'
        'B C';
        grid-template-rows: min-content min-content;
        gap: 3.5rem;
    }
    main .capa{
        grid-area: A;
    }
    main .matter{
        grid-area: B;
    }
    main .card{
        grid-area: C;
        flex: 1;
    }
} */
