* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;

    --color-bc-blue: #065d7a;
    --color-input: rgba(255, 255, 255, 0.2);
    --color-text-white: #FFF;
    --color-text-title: #202024;
    --color-p: #121214;
    --color-checkbox: #065E7C;
    --color-checkbox-checked: #000000;
    --color-bc-footer: #387E96;

}

body,
input {
    font-family: 'Mulish', sans-serif;
    font-size: 1.6rem;

}

h1,
h2 {
    color: var(--color-text-title);
}

p,
.input-wrapper input {
    color: var(--color-p);
    line-height: 1.6rem;
}

#app {
    display: grid;
    grid-template:
    'header' max-content
    'container' 1fr
    'footer' max-content;
    height: 100vh;
        
}
#app header{grid-area: header;}
#app .container{grid-area: container;}
#app footer{grid-area: footer;}

#app header {
    background-color: var(--color-bc-blue);

    display: flex;
    gap: 2.5rem;

    padding: 1.2rem 2.8rem;
    width: min(100vw, 100%);
    margin: 0 auto;
}

header form {
    flex: 1;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper label {
    width: 1px;
    height: 1px;

    position: absolute;

    overflow: hidden;
}

.input-wrapper input {
    padding: 1.2rem 1.5rem;

    border: none;
    border-radius: 4px;

    background-color: var(--color-input);

    font-weight: 600;
    color: var(--color-text-white);
}

.input-wrapper input::placeholder {
    text-align: center;

    color: var(--color-text-white);

}

.input-wrapper input:focus {
    outline: 1px solid var(--color-text-white);
}

header .avatar {
    width: 42px;
    height: 42px;

    border-radius: 50%;
}
.container{
    overflow-y: scroll;
}
.items {
    padding: 3.2rem 2.4rem 0;
}

main section h1 {

    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.84rem;

}

main section form {
    display: flex;
    gap: 1.2rem;
    margin-bottom: 3.1rem;
}

.input-checkbox {
    display: flex;

    position: relative;
}

.input-checkbox input {
    width: 3.6rem;
    height: 3.6rem;

    position: absolute;

    opacity: 0;
}

.input-checkbox img {
    box-sizing: content-box;
    background-color: var(--color-checkbox);

    padding: 1.2rem;

    border-radius: 50%;
    width: 1.6rem;
    height: 1.6rem;

    transition: background-color .6s ease-in-out;
}

.input-checkbox input:checked+img {

    background-color: var(--color-checkbox-checked);
}

.input-checkbox input:focus+img {
    outline: .3rem solid var(--color-checkbox-checked);
}

main section p {
    font-weight: 400;
    line-height: 2.56rem;
}

article {

    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    margin-bottom: 3.9rem;
}

article a {
    text-decoration: none;
    color: var();
}
a > figure{

    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1.6rem;
}
figure >img {
    place-self: center;

}

figure figcaption >h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 2.88rem;

}

figure figcaption >p {
    font-size: 14px;
    font-weight: 400;
    line-height: 2.24rem;
}
footer p {
    background-color: var(--color-bc-footer);

    padding: 2.2rem;

    font-weight: 600;
    color: var(--color-text-white);

    text-align: center;
}